/* The styles for the elements */
body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {     
    font-size: 160%;
    color: blue;
    margin-bottom: .5em;    
}
h2 {     
    font-size: 130%;
    color: blue;
    margin-bottom: .5em;    
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    padding-top: .3em;
    font-weight: bold;
}
input[type="text"], input[type="email"], input[type="date"] {  /* An attribute selector */
    width: 15em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}

input[type="submit"] {
	background-color: blue;
	color: white;
	padding: 10px;
	width: 20%;
}

.boxSubmit {
	display: flex;
	justify-content: center;
	align-items: center;
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
br {
    clear: both;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.margin_left {
    margin-left: 0.5em;
}

/* The styles for a table */
table {
    border: 1px solid black;
    border-collapse: collapse;   
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}
.right {
    text-align: right;
}

select {
	padding: 5px;
}

.image {
	display: flex;
    justify-content: center;
    align-items: center;
}